.heading h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heading {
    position: relative;
}

.home i { 
    color: #141c56;
    font-size: 20px;
}

#colours {
    display: flex;
    padding-bottom: 10px;
    justify-content: left;
}

.circle-colour {
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
}

.circle-colour:hover {
    cursor: pointer;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#black {
    background-color: black;
}

.download {
    text-align: center;
    text-decoration: none;
}
.download a {
    font-family: 'Montserrat', sans-serif;
    color: #141c56;
}

.wrapper {
    max-width: 500px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.toolbar {
    width: 100%;
    overflow: auto;
    background-color: #141c56;
}

.toolbar a {
    float: left;
    width: 10%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
}

.toolbar a:hover {
    background-color: #329948;
}

.selected {
    background-color: #329948;
}

#my-canvas {
    width: 100%;
    border: 3px solid #141c56;
}

#img-data-div {
    width: 100%;
}

.toolbar a img {
    max-width: 100%;
    height: auto;
}

#add {
    background-color: white;
    border: none;
}

#add i {
    color: green;
    background-color: white;
}

#question {
    text-align: center;
    display: none;
}

#textarea {
    width: 70%;
}